<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showcase</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="https://firebasestorage.googleapis.com/v0/b/showcase-7121e.appspot.com/o/logo%2FShowCase%20logo-modified.ico?alt=media&token=1cb0428c-bfbf-4801-9c1a-32ab9e016fa4">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    overflow: hidden scroll;
}



#navbar-ul{
    padding-left: 17%;
}

#navbar-ul > li{
    padding-left: 10px ;
}

#navbar-ul li > a{
    color: #0b1514;
}

#searchbox > button, #login-btn{
    background-color: #3371f2;
    border-color: #3371f2;
    border-radius: 8px;
}

.nav-right ul > li{
    padding: 0px 10px 0px 0px;
}

.nav-right{
    padding-left: 17%;
}

.back{
    text-decoration: none;
    color: black
}


/*full-width input fileds*/

 select{
    width: 40%;
    padding: 8px 12px;
    margin: 8px 0;
    border-color: none;
    box-sizing: border-box;
    
    
}



/*set a style for the submit button*/
.savebtn{
    background-color: #3371f2;
    color: white;
    padding: 8px 12px;
    margin: 8px 0;
    border: none;
    width: 40%;
    opacity: 0.9;
    


}
.savebtn:hover{
    opacity: 1;
}

.form-group > p  {
    display: inline-flex;
    padding-left: 2%;

}
.form-group >p3 {
    display: inline-flex;
    padding-left: 83%;
} 
.form-group >p4{
    display: inline-flex;
    padding-left: 86%;
}   


.content{
    display:grid;
    height:100%;
    place-items: center;
    text-align: center;
}

input.b-ph,input.b-add,select.b-ct{
    width: 40%;
    padding: 8px 12px;
    margin: 8px 0;
    border-color: none;
    box-sizing: border-box;
   }
   select.b-code{
       width: 100%;
    padding: 8px 12px;
    margin: 8px 0;
    margin-right: 0px;
    border-color: none;
    box-sizing: border-box;
   }
   .b-phone{
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0;
    margin-left: 0px;
    border-color: none;
    box-sizing: border-box;
   }
   .ph-form{
       padding-left: 330px;

   }
   .ph-col.col-md-10{
       margin-left: 0px;
   }
   input.phone{
       margin-top: 0;
       margin-right: 335px;
   }
   select.code{
    margin-left: 330px;
   }
   .back:hover{
       text-decoration: none;
   }
   .r{
    width: 40%;
   }
    </style>
    
</head>
<body>
    <%- include('partials/header.ejs'); %>

    <br>
    <br>
    <br>

    <% if(c_message!==""){%>
        <div class="container">
        <div class="flash alert alert-danger" role="alert">
            <%=c_message %>
          </div>
        </div>
    <%}%>

   
        <div class="form-group container" >
            <p3 style="color: #909497;margin-left: 5%">STEP 02/02</p3><br>
            <p4 style="color: #909497"><b>Change Password</b></p4>
            </div>     
        <form action="/reset-password/change" method="post" class="change-form container">
        <div class="form-group"  >
            <h3><b>Reset Password</b><br></h3>
         </div>
         <div class="form-group">   
            <p2>Please enter the new password and confirm it again</p2>
        </div>
           
        <hr class="r">
               <div class="form-group">
                   <label for ="pwd"><b>New Password</b></label><br>
                   <input type="password"  class="b-ph form-control"  placeholder="New Password" name="new_pwd" id="pwd" required>
               </div>
               <div class="form-group">
                <label for ="c_pwd"><b>Confirm Password</b></label><br>
                <input type="password"  class="b-ph form-control"  placeholder="Email Address" name="c_pwd" id="c_pwd" required>
            </div>
        <div class="form-group">
            <button type="submit" class="savebtn">Reset Password</button>
       </div>
       <div class="form-group">
        <p> <i class="material-icons">lock_outline</i> Your info is safely secured</p>
      </div>


    </form>
    <br>
<br>
<br>
<br>
<br>

<%- include('partials/footer.ejs'); %>






</body>
</html>