<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=user.name%> - Edit Profile</title>
    </head>
<body>
    <%- include('partials/header.ejs'); %>
    <section class="editing-form">
        <div class="container">
            <a href="/profile" class="back" style="text-decoration: none;"><b>&lsaquo; Back</b></a>
        </div><br>
        <div class="container">
            <div class="row">
                <a class="form-check edp" href="/account/edit" style="padding-bottom: 93px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <a class="form-check-label" href="/account/edit" for="flexRadioDefault2">
                      Profile
                    </a>
                </a>
                <a class="form-check ecp" href="/account/change-p" style="padding-bottom: 25px;cursor: pointer;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <a class="form-check-label" href="/account/change-p" for="flexRadioDefault2">
                      Change Password
                    </a>
                </a>
        </div>
        <% if(pwd_message!==""){%>
            <div class="container">
            <div class="flash alert alert-danger" role="alert" id="fl">
                <%=pwd_message %>
              </div>
            </div>
        <%}%>
        <div class="container">
            <div class="flash alert alert-danger" role="alert" id="flash" style="display:none;">
              </div>
        </div>
            <form class="editing" method="post" action="/account/change-p">
                    <p class="abt-label">Old Password</p>
                    <input type="password" class="edit-user form-control" placeholder="Old Password" onkeyup="stoppedTyping()" name="e_pwd" id="e_pwd" required>

                <p class="abt-label">New Password</p>
                <input  type="password" class="edit-user form-control" name="e_new" id="e_new" placeholder="New Password" onkeyup="stoppedTyping()" required>
                <p class="abt-label">Confirm Password</p>
                <input type="password" class="edit-user form-control" name="e_cp" id="e_cp" placeholder="Confirm Password"onkeyup="stoppedTyping()" required>
                <button type="submit" id="pwd-sub" class="edit-save" style="display: none;">Submit</button>
            </form> 
            <div class="editing">
            <button type="submit" onclick="check()" class="pwd-save" id="e-save">Save</button>
        </div>
            
        </div>
    </section>
    <script>
         document.getElementById('e-save').disabled = true; 
        document.getElementById('e-save').style.opacity=0.5; 
        function stoppedTyping(){
            if(  document.getElementById('e_pwd').value.length > 0 && document.getElementById('e_new').value.length > 0 && document.getElementById('e_cp').value.length > 0) { 
            document.getElementById('e-save').disabled = false; 
            document.getElementById('e-save').style.opacity=1; 
            
        } else { 
            document.getElementById('e-save').disabled = true;
            document.getElementById('e-save').style.opacity=0.5; 
            
        }
        }
        function check(){
            if(document.getElementById('e_new').value!==document.getElementById('e_cp').value){
                document.getElementById('flash').style.display="block";
                document.getElementById('fl').style.display="none";
                document.getElementById('flash').textContent="New Password does not match with Confirm Password";
            }
            else{
                document.getElementById('flash').style.display="none";
                document.getElementById('pwd-sub').click();
            }
        }
    </script>
    <%- include('partials/footer.ejs'); %>
</body>
</html>